.comments {
  margin-top: 20px;
  
  p {
    font-size: 15px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .row {
    font-weight: normal;
  }
}

.comment {
  margin-bottom: 2em;
}