body {
  margin: 33px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

.container > p {
  font-size: 15px;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

.navbar-nav > li > p {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.strong {
  font-weight: bold;
}

.left {
  float: left;
}
.right {
  float: right;
}

select {
  width: auto;
  margin-bottom: 0.75em;
  border-radius: 2px;
}

textarea {
  min-height: 10rem;
}

.errors-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  border-radius: 3px;
  color: #a94442;
  margin: 20px 15px;
  
  h5 {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
  }
  
  ul {
    list-style: square inside;
    li {
      padding: 5px;
    }
  }
}

.reset {
  font-size: .8rem;
}

.empty-list {
  font-style: italic;
}

