table {
  border-bottom: 1px solid #dddddd;
  margin: 10px;
}

tbody tr, thead tr {
  border-bottom: 1px solid #ddd;
}

tbody tr th, tbody tr td, thead tr th, thead tr td {
  text-align: center;
  width: 300px;
  padding: 0.75em 0.75em 0.75em 0;
  font-size: 16px;
}

.shrink {
  width: 230px;
}